@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a1a1a;
  --fontcolor: #c5c5c5;
  --tablefontcolor: #2a2a2a;
  --customgray: #2a2a2a;
  --modalbackground: #cac0c0;
}

body {
  background-color: var(--background);
  color: var(--fontcolor);
  font-family: Poppins, sans-serif;
}
